<div class="single-kitten">
  <h2><%= kitten.name %></h2>
  <ul>
    <li>Age: <%= kitten.age %></li>
    <li>Cuteness: <%= kitten.cuteness %>/10</li>
    <li>Softness: <%= kitten.softness %>/10</li>
  </ul>
</div>
